$tab-width: 33.5px;
$tab-border-height: 7.5px;

.tabs {
  position: absolute;
  top: 56px;
  left: $tab-width * -1;
  padding: 0;
}

.tabs-tab {
  position: relative;
  margin: 0;
  margin-top: $tab-border-height*2;
  padding: 15px 8px;
  background-color: #fff;
  list-style: none;
  cursor: pointer;

  &__arrow {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &::before, &::after {
    content: '';
    position: absolute;
    right: 0;
    display: block;
    border-width: $tab-border-height $tab-width 0 0;
    border-style: solid;
    border-color: transparent #fff;
  }
  &::before {
    top: -7.5px;
  }
  &::after {
    bottom: -7px;
    transform: rotateX(180deg);
  }
}
