.container {
  margin-top: 12px;
}

.title {
  margin-bottom: 8px;
  padding: 0.125rem 0.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to right,#c1c8f1, #e8ebfc);
  font-size: 1.125rem;
}

.list-item {
  overflow: hidden;
  border: 3px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow linear 0.3s, border-color linear 0.3s;
  &__active {
    border-color: #6373ca;
    box-shadow: 0 0 10px 1px #aab7ff;
    cursor: unset;
  }
  > img {
    width: 100%;
  }
}
