.container {
  margin-top: 12px;
}

.title {
  margin-bottom: 4px;
  padding: 0.125rem 0.5rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: linear-gradient(to right,#c1c8f1, #e8ebfc);
  font-size: 1.125rem;
}

.list-item {
  overflow: hidden;
  border: 3px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  &__active {
    border-width: 4px;
    border-color: #6373ca;
  }
  > img {
    width: 100%;
  }
}
