.header {
  height: unset;
  padding: 0;

  background-color: #c1c8f1;
}
.header-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding-right: 1rem;
  padding-left: 1rem;
}

.footer {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* @media screen and (max-width: 1599px) {
  .header-container,
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
  }
} */

@media screen and (min-width: 1600px) {
  .header-container,
  .content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
